* {
    box-sizing: border-box;
}

.server_greeting {
    position: fixed;
    top: 50vh;
    left: 20vw;
    font-size: 10vh;
    color: red;
    z-index: 150;
}

header {
    position: fixed;
    top: 0.5vh;
    left: 1vw;
    display: grid;
    height: 12vh;
    width: 50vw;
    z-index: 50;
    transition: .5s;
}

.logo {
    cursor: pointer;
    position: fixed;
    top: 2.5vh;
    left: 2vw;
}

.logo img {
    height: 8vh;
}

nav {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .button {
    cursor: pointer;
    height: 9vh;
    margin: 0 1vw 0 0;
}

.profile_menu {
    position: fixed;
    top: 2.5vh;
    left: 93vw;
}

.profile_menu img {
    cursor: pointer;
    height: 9vh;
}
