main {
    position: relative;
    display: grid;
    grid-template-rows: 13vh 80vh 6vh;
    margin: .5vh 0;
}

.server_greeting {
    position: absolute;
    top: 65vh;
    left: 35vw;
    width: 30vw;
    line-height: 5vh;
    text-align: center;
    border: .1vh solid lightgray;
    border-radius: 1vh;
    color: darkblue;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
