main {
    min-height: 100vh;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 2%;
    background-color: whitesmoke;
}

header {
    top: 0;
    height: 13vh;
}

footer {
    bottom: 0;
    height: 8vh;
}

@media only screen and (min-width: 2000px) {
    header,
    footer {
        width: 2000px;
    }
}

.inline-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.main-navigation-button,
.footer-navigation-button {
    padding: 20px;
}

.main-navigation-button > img {
    height: 10vh;
}

/* timeline css */

.group_on_timeline:hover,
.history-on-timeline:hover {
    z-index: 100;
}

.history-on-timeline {
    position: absolute;
    width: 15vh;
}

.history-link-on-timeline {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vh;
    text-decoration: none;
    padding: 1vh;
    border: .2vh solid rgb(120, 120, 120);
    border-radius: 1vh;
    color: rgb(100, 100, 100);
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}

.history-link-on-timeline p {
    text-align: center;
    line-height: 1;
    margin: .5vh 0;
}

.history-link-on-timeline h4 {
    line-height: 1;
    min-height: 5.5vh;
    width: 14vh;
    padding: .5vh;
    border-radius: .5vh;
    background-color: whitesmoke;
    margin: .5vh 0;
    color: rgb(12, 73, 117);
    overflow: scroll;
}
