body {
    position: relative;
    font-family: 'NTR', sans-serif;
    /* font-family: 'Marvel', sans-serif; */
    /* font-family: 'Pontano Sans', sans-serif; */
    line-height: 1.1;
    height: 300vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 40, 64);
    /* background-image: url('/images/background_photo.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed; */
}
