.login_component_frame {
    position: absolute;
    top: 11vh;
    left: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 66vw;
}

.login_component_frame h1 {
    font-size: 3vh;
    color: whitesmoke;
}

.login_component_frame input {
    font-family: 'NTR', sans-serif;
    font-size: 2.5vh;
    height: 4.5vh;
    width: 25vw;
    padding-left: .5vw;
    margin-bottom: 2vh;
}

.login_component_frame button {
    cursor: pointer;
    font-family: 'NTR', sans-serif;
    font-size: 3vh;
    line-height: 1;
    height: 4.5vh;
    min-width: 20vw;
    padding: 0 2vw;
    border-radius: 1vh;
    margin-top: 2vh;
    color: whitesmoke;
    background-color: darkgray;
    transition-duration: .15s;
}

.login_component_frame button:nth-child(4) {
    background-color: gray;
}

.login_component_frame button:hover {
    background-color: lightgray;
}
