.login_component_frame {
    position: absolute;
    top: 7vh;
    left: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 66vw;
}

.login_component_frame h1 {
    font-size: 3vh;
    color: whitesmoke;
}

.login_component_frame h3 {
    font-size: 2vh;
    margin-top: -4vh;
    color: whitesmoke;
}

.login_component_frame input {
    font-family: 'NTR', sans-serif;
    font-size: 2.5vh;
    height: 4.5vh;
    width: 25vw;
    padding-left: .5vw;
    margin-bottom: 2vh;
}

.login_component_frame button {
    cursor: pointer;
    font-family: 'NTR', sans-serif;
    font-size: 3vh;
    line-height: 1;
    height: 4.5vh;
    min-width: 20vw;
    padding: 0 1vw;
    border-radius: 1vh;
    margin-top: 2vh;
    color: whitesmoke;
    background-color: darkgray;
    transition-duration: .15s;
}

.login_component_frame button:hover {
    background-color: lightgray;
}

.login_question {
    position: relative;
}

.login_question p {
    cursor: pointer;
    position: absolute;
    top: 1vh;
    left: -3vw;
    font-size: 2.5vh;
    line-height: 1;
    padding: .5vh 1vh 0 1vh;
    border-radius: 50%;
    margin: 0;
    color: rgb(7, 40, 64);
    background-color: whitesmoke;
}

.login_question h2 {
    position: absolute;
    top: 1vh;
    left: -24vw;
    font-size: 2.5vh;
    line-height: 1.2;
    width: 20vw;
    margin: 0;
    color: whitesmoke;
}
