.nav_frame {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 8fr 8fr 2fr;
    height: 13vh;
    width: 100vw;
    background-color: white;
}

.logo {
    align-self: center;
}

.logo p {
    font-size: 3vh;
    margin-left: 5vw;
    color: gray;
}

.site_menu {
    align-self: center;
}

.site_menu_icon {
    cursor: pointer;
    width: 12vw;
    margin-right: 1vw;
}
