.page_container {
    position: absolute;
    top: 11vh;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 70vw;
    border-radius: 1vh;
    margin-bottom: 9vh;
    background-color: whitesmoke;
}

.page_container > section {
    width: 66vw;
    margin-bottom: 2vw;
}

.page_container h1 {
    position: absolute;
    top: -12vh;
    left: 0;
    font-size: 4.5vh;
    color: whitesmoke;
}

.page_container h2 {
    width: 66vw;
    margin-top: 2vw;
}

.page_container input,
.page_container h4 {
    font-family: 'NTR', sans-serif;
    font-size: 2.5vh;
    height: 4.5vh;
    width: 20vw;
    padding-left: .5vw;
    margin: 0 0 2vh 0;
}

.page_container h4 {
    color: gray;
}

.page_container button {
    cursor: pointer;
    font-family: 'NTR', sans-serif;
    font-size: 3vh;
    line-height: 1;
    height: 4.5vh;
    width: 20vw;
    border-radius: 1vh;
    margin: 0 0 2vh 0;
    color: whitesmoke;
    background-color: darkgray;
    transition-duration: .15s;
}

.page_container button:hover {
    background-color: lightgray;
}

.create_group_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.create_group_container section {
    display: flex;
    flex-direction: column;
}

.create_group_container textarea {
    font-family: 'NTR', sans-serif;
    font-size: 2vh;
    line-height: 1.2;
    /* white-space: pre-line; */
    height: 30vh;
    width: 66vw;
    padding: 1vw;
}

.create_group_container .overlay_container {
    position: relative;
}

.create_group_container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.5vh;
    width: 20vw;
    background-color: rgba(255, 255, 255, .6);
}

.create_group_container .search_menu {
    position: absolute;
    top: 4.7vh;
    left: 0;
    display: flex;
    flex-direction: column;
    max-height: 35vh;
    background-color: rgb(230, 237, 255);
    z-index: 50;
    overflow: scroll;
}

.create_group_container .search_menu p {
    cursor: pointer;
    font-size: 2.5vh;
    width: 20vw;
    padding: .5vh 0 .5vh .5vw;
    border-bottom: .3vh solid gray;
    margin: 0;
    color: rgb(80, 80, 80);
    transition-duration: .15s;
}

.create_group_container .search_menu p:hover {
    background-color: lightgray;
}
