.page_container {
    position: absolute;
    top: 11vh;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 70vw;
    border-radius: 1vh;
    margin-bottom: 9vh;
    background-color: whitesmoke;
}

.page_container > section {
    width: 66vw;
    margin-bottom: 2vw;
}

.page_container h1 {
    position: absolute;
    top: -12vh;
    left: 0;
    font-size: 4.5vh;
    color: whitesmoke;
}

.page_container h2 {
    width: 66vw;
    margin-top: 2vw;
}

.create-group-article {
    display: flex;
    flex-direction: column;
}

.page_container input,
.page_container h4 {
    font-family: 'NTR', sans-serif;
    font-size: 2.5vh;
    height: 4.5vh;
    width: 20vw;
    padding-left: .5vw;
    margin: 0 0 2vh 0;
}

.page_container h4 {
    width: 4vw;
    margin: 0 0 3vh 0;
    color: gray;
}

.create-group-image {
    width: 5.5vh;
    margin-bottom: 1vh;
}

.page_container button,
.page_container label {
    cursor: pointer;
    font-family: 'NTR', sans-serif;
    font-size: 3vh;
    line-height: 1;
    height: 4.5vh;
    width: 20vw;
    border-radius: 1vh;
    margin: 0 0 2vh 0;
    color: whitesmoke;
    background-color: darkgray;
    transition-duration: .15s;
}

.page_container label {
    text-align: center;
    padding-top: .9vh;
}

.page_container button:hover,
.page_container label:hover {
    background-color: lightgray;
}

.create_group_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.create_group_container section {
    display: flex;
    flex-direction: column;
}

.create_group_container textarea {
    font-family: 'NTR', sans-serif;
    font-size: 2vh;
    line-height: 1.2;
    /* white-space: pre-line; */
    height: 23vh;
    width: 48vw;
    padding: 1vw;
}

.create_group_container .overlay_container {
    position: relative;
}

.create_group_container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.5vh;
    width: 20vw;
    background-color: rgba(255, 255, 255, .6);
}

.create_group_container .search_menu {
    position: absolute;
    top: 4.7vh;
    left: 0;
    display: flex;
    flex-direction: column;
    max-height: 35vh;
    background-color: rgb(230, 237, 255);
    z-index: 50;
    overflow: scroll;
}

.create_group_container .search_menu p {
    cursor: pointer;
    font-size: 2.5vh;
    width: 20vw;
    padding: .5vh 0 .5vh .5vw;
    border-bottom: .3vh solid gray;
    margin: 0;
    color: rgb(80, 80, 80);
    transition-duration: .15s;
}

.create_group_container .search_menu p:hover {
    background-color: lightgray;
}

.profile_edit_container {
    display: flex;
    justify-content: space-around;
}

.profile_edit_container > section {
    width: 33vw;
}

.profile_edit_container p {
    font-size: 2.5vh;
    line-height: 1;
    margin: 1vh 0 4vh 0;
    color: gray;
}

.profile_edit_container div {
    display: flex;
    justify-content: space-between;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw !important;
}

.profile-image-container > img {
    max-height: 17vw;
    max-width: 17vw;
    border: 1vh solid white;
    margin-bottom: 3vh;
}

#fileInput {
    display: none;
}

.group-page {
    display: grid;
    grid-template: 46vh auto / 1fr 3fr;
    width: 70vw;
}

.group-preview {
    justify-self: center;
    align-self: center;
    transform: scale(1.5);
}

.group-info-container {

}

.group-text-container {
    grid-column: 1 / 3;
}
