.timeline_frame {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    width: 100vw;
    background-color: rgb(252, 252, 252);
}

.timeline_frame p {
    color: orange;
}
