#scroll_container {
    justify-self: center;
    align-self: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 82vh;
    width: 100vw;
    background-color: rgb(252, 252, 252);
    overflow: scroll;
}

.scroll_sled {
    position: relative;
    height: 246vh;
    width: 100vw;
    z-index: 25;
}

.timeline_container {
    position: fixed;
    top: 13vh;
    left: 0;
    height: 82vh;
    width: 100vw;
}

#timeline_sled {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    width: 300vw;
}

#timeline {
    height: 60vh;
}
