/* root */

:root {
    --beige: #f8f7f1;
    --lightColor: rgb(146, 157, 170);
    --mediumColor: rgb(71, 71, 71);
    --darkColor: rgb(29, 29, 29);
}

/* cookies */

.cookies-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: var(--mediumColor);
    background-color: var(--beige);
}

.cookies-text {
    padding: 0 15px;
}

.cookies-link {
    text-decoration: none;
    padding: 4px 15px;
    color: var(--darkColor);
}

.cookies-link--more {

}

.cookies-link--accept {
    cursor: pointer;
    border: 1px solid var(--lightColor);
    border-radius: 6px;
    background-color: white;
}

/* timeline */
.our-great-gif {
    position: fixed;
    width: 300px;
    top: 10%;
    left: 10%;
    z-index: 876567;
    display: none;
}

/* display  */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.active {
    color: var(--lightColor) !important;
}

/* content */

.admin-edit-mode {
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    border: 1px solid var(--mediumColor);
    border-radius: 5px;
    z-index: 100;
}

.header,
.footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 3.5%;
    background-color: white;
    z-index: 50;
}

.header {
    font-size: 15px;
    top: 0;
    height: 150px;
    padding: 0 3.5% 20px 3.5%;
}

.footer {
    font-size: 14px;
    bottom: 0;
    height: 50px;
    transition: bottom .4s ease;
}

@media only screen and (min-width: 2000px) {
    .header,
    .footer,
    .cookies-container {
        width: 2000px;
    }
}

.header__nav__image {
    height: 120px;
    margin: 0 30px 0 0;
    transform: translateY(1.8%);
}

.header__nav__button {
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 0 10px;
    color: var(--darkColor);
    white-space: nowrap;
}

.profile__nav__image {
    height: 50px;
    width: 50px;
    border: 1px solid var(--lightColor);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile__nav__button {
    text-decoration: none;
    padding: 8px 15px;
    color: var(--darkColor);
    white-space: nowrap;
}

.profile__nav__button--border {
    border: 1px solid var(--lightColor);
    border-radius: 6px;
}

.profile__nav__icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    filter: saturate(50%);
}

.footer__note {
    color: var(--mediumColor);
}

.footer__nav__button {
    text-decoration: none;
    padding: 0 0 0 30px;
    color: var(--mediumColor);
}

.sub-menu {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    border-radius: 5px;
    padding: 7px 10px;
    z-index: 100;
    white-space: nowrap;
}

.sub-menu__nav__button {
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
    border-radius: 6px;
    margin: 0 10px;
    color: var(--mediumColor);
    background-color: var(--beige);
}

.the-five-souls {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    transition: top .5s ease-in-out;
}

.soul-link {
    display: inline-block;
}

.soul-gif {
    width: 50px;
}

.page-video-container {
    width: 60vw;
    height: 33.6vw;
    overflow: hidden;
    margin: 10px 0 10px -5vw;
}

.page-video {
    width: 60vw;
    height: 33.8vw;
}

.page-creator {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    padding: 5px;
    border-right: 1px solid var(--lightColor);
    border-radius: 6px;
    color: var(--mediumColor);
    background-color: white;
    z-index: 100;
}

.page-creator__headline {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 7px 0 !important;
}

.page-creator__path {
    font-size: 12px;
    width: 100%;
    text-align: center;
    color: var(--lightColor);
}

.page-creator__element {
    border-bottom: 1px solid var(--lightColor);
}

.page-creator__tools {
    border-radius: 3px;
    margin: 5px 0;
    background-color: var(--lightColor);
}

.page-creator__button {
    width: 40% !important;
    margin: 5px 5% !important;
}

.page-creator__input {
    width: 98% !important;
    margin: 5px 1% !important;
}

/* sing in / sign up */

.sign-in-form {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-form__h1 {
    font-size: 18px;
    margin: 30px 0;
    color: var(--darkColor);
}

.sign-in-form__h3 {
    font-size: 14px;
    font-weight: normal;
    margin: -20px 0 10px 0;
}

.sign-in-form__input {
    font-size: 14px;
    width: 300px;
    height: 30px;
    margin: 3px 0;
    padding: 0 0 0 5px;
    color: var(--darkColor);
}

.sign-in-form__textarea {
    font-size: 14px;
    width: 600px;
    height: 240px;
    padding: 5px;
    margin: 5px 0;
}

.sign-in-form__button {
    cursor: pointer;
    font-size: 14px;
    width: 170px;
    margin: 5px 0;
    border: none;
    color: var(--darkColor);
    background-color: white;
    white-space: nowrap;
}
.sign-in-form__button--border {
    padding: 8px 15px;
    border: 1px solid var(--lightColor);
    border-radius: 6px;
    margin: 20px 0 10px 0;
}

.sign-in-form__question-container {
    position: relative;
}

.sign-in-form__question-button {
    cursor: pointer;
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0;
}

.sign-in-form__info-text {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right: 305px;
    top: 0;
    width: 300px;
    padding: 10px;
    border: 1px solid var(--lightColor);
    border-radius: 6px;
}

/* group component */

.soul-dot {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.soul-dot--gul {
    background-color: rgb(238, 231, 133);
}

/* timeline css */

.group_on_timeline:hover,
.history-on-timeline:hover {
    z-index: 100;
}

.history-on-timeline {
    position: absolute;
    width: 15vh;
}

.history-link-on-timeline {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vh;
    text-decoration: none;
    padding: 1vh;
    border: .2vh solid rgb(120, 120, 120);
    border-radius: 1vh;
    color: rgb(100, 100, 100);
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}

.history-link-on-timeline p {
    text-align: center;
    line-height: 1;
    margin: .5vh 0;
}

.history-link-on-timeline h4 {
    line-height: 1;
    min-height: 5.5vh;
    width: 14vh;
    padding: .5vh;
    border-radius: .5vh;
    background-color: whitesmoke;
    margin: .5vh 0;
    color: rgb(12, 73, 117);
    overflow: scroll;
}
